@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* ## Colors */

    /* ### Primary */

    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    /* ### Neutral */

    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
    
    /* ## Typography */

    /* ### Body Copy */

    --font-poppins: "Poppins", sans-serif;
    --font-size-inputs: 32px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-poppins);
    background-color: var(--off-white);
}

.card{
    background-color: var(--white);
    padding: 3rem;
    border-radius: 25px 25px 150px 25px;
    width: 700px;
}

.fields{
    display: flex;
    gap: 1rem;
}

.input__group{
    display: flex;
    flex-direction: column;
    gap: 0.55rem;
}
.input__group input{
    padding: 1rem;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 8px;
    max-width: 150px;
    border: 1px solid var(--light-grey);
}

.button__section{
    display: flex;
    align-items: center;
    /* width: 130%; */
}
.button__section hr{
    display: block;
    width: 100%;
}
.button__section button{
    background-color: var(--purple);
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 78px;
    height: 78px;
}

.result{
    color: var(--off-black);
}
.result__group{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.result .calculated-value, .result .text{
    font-size: 5.5rem;
    font-weight: 700;
    font-style: italic;
}
.result .calculated-value{
    color: var(--purple);
}