@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    /* ## Colors */

    /* ### Primary */

    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    /* ### Neutral */

    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
    
    /* ## Typography */

    /* ### Body Copy */

    --font-poppins: "Poppins", sans-serif;
    --font-size-inputs: 32px;
}

input, textarea{
    font-family: var(--font-poppins);
    font-weight: 700;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--font-poppins);
    background-color: var(--off-white);
}

@media screen and (max-width: 662px) {
    body{
        padding: 1rem;
    }
}

.card{
    background-color: var(--white);
    padding: 3rem;
    border-radius: 25px 25px 150px 25px;
}

@media screen and (max-width: 662px) {
    .card{
        padding: 1.65rem;
        border-radius: 12.5px 12.5px 75px 12.5px;
    }
}

.fields{
    display: flex;
    gap: 1.5rem;
}
.input__group{
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}
.input__group label{
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    color: var(--smokey-grey);
}

@media screen and (max-width: 662px) {
    .input__group label{
        font-size: 0.68rem
    }
}

.input__group input{
    padding: 0.8rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 8px;
    max-width: 125px;
    border: 1px solid var(--light-grey);
    transition: all .3s;
}
.input__group input:hover,
.input__group input:active,
.input__group input:focus{
    border: 1px solid var(--purple);
}

@media screen and (max-width: 662px) {
    .input__group input{
        padding: 0.8rem 1rem;
        font-size: 0.85rem;
        max-width: 80px;
    }
}

.error{
    color: var(--light-red);
}

.error-message-day,
.error-message-month,
.error-message-year{
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--light-red);
}

.button__section{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 662px) {
    .button__section{
        flex-direction: column;
        margin-top: 78px;
    }
}

.button__section hr{
    display: block;
    width: 32rem;
    border: none;
    border-bottom: 1px solid var(--light-grey);
}

@media screen and (max-width: 662px) {
    .button__section hr{
        margin-bottom: -34px;
        width: 100%;
    }
}

.button__section button{
    background-color: var(--purple);
    border: none;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 78px;
    height: 78px;
    cursor: pointer;
    transition: all .3s;
}


.button__section button:hover{
    background-color: var(--off-black);
}

.result{
    color: var(--off-black);
}

@media screen and (max-width: 662px) {
    .result{
        margin-top: 2rem;
    }
}


.result__group{
    display: flex;
    align-items: center;
}

.result .calculated-value, .result .text{
    font-size: 5rem;
    font-weight: 800;
    font-style: italic;
    margin-block-start: 0px;
    margin-block-end: 0px;
    line-height: 115%;
}

@media screen and (max-width: 662px) {
    .result .calculated-value, .result .text{
        font-size: 3rem;
        font-weight: 800;
    }
}
.result .calculated-value{
    /* letter-spacing: 1rem; */
    color: var(--purple);
    margin-right: 0.85rem;
}
.result .text{
    margin-left: -0.5rem;
}